.notifications {
display: flex;
justify-content: flex-start;
}

.card-body {
    font-size: 13px;
}

.request {
    padding-left: 50px;

}

img {
    padding-top: 25px;
    padding-left: 10px;
}